@import "variables";

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 100px 50px;

  .contact-infos {
    margin-bottom: 40px;

    ul {
      background-color: rgba(255, 255, 255, 0.1);
      border: $green solid 2px;
      border-radius: 15px;
      padding: 20px;

      h3 {
        @include article-title();
        font-size: 1.6em;
      }

      li {
        margin: 15px 0;
      }

      .label {
        font-family: $poppins_med;
        margin-bottom: 6px;
      }

      p, a {
        font-family: $poppins;
        color: $white;
      }

    }
  }

  .contact-form {
    max-width: 600px;
    width: 100%;
    .contact-title {
      @include article-title();
      margin-bottom: 20px;
    }

    form {

      p {
        margin-bottom: 15px;
      }
      label {
        font-family: $poppins;
        font-size: 1em;
      }

      input, textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        margin-top: 8px;
        margin-bottom: 8px;

        &::placeholder {
          font-family: $poppins;
          color: rgba(0, 0, 0, 0.3);
        }

      }
      input {
        width: 94%;
      }
      textarea {
        width: 94%;
        resize: vertical;
      }

      .wpcf7-submit {
        text-align: center;
        width: 100%;
        font-family: $poppins;
        font-weight: 700;
        font-size: 18px;
        color: white;
        background-color: var(--button);
        border-radius: 10px;
        border: 2px $green solid;
        box-shadow: 3px 6px 10px 1px rgba(0, 0, 0, 0.2);
        transition: ease-in 0.3s;
      }

      .wpcf7-submit:hover {
        text-decoration: underline;
        background-color: $button-hover;
      }
      div.wpcf7-response-output {
        width: inherit;
        border-radius: 8px;
        font-family: $poppins;
      }
    }


  }

  @media screen and (max-width: 680px) {
    .contact-form {
      width: 100%;

    }
    form {
    }
  }
}

